*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root {
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
  }

/* html{
    font-size: 62.5%;
    overflow-x: hidden;
} */

body{
   background: var(--bg-color);
   color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 3rem 5% 1rem;
}
span{
    color: #0ef;
}

.heading h1{
    /* text-align: center; */
    color: var(--main-color);
    padding-top: 1.5rem;
}
.heading1{
    text-align: center;
    font-size: 1.5rem;
}


.work h2{
    font-size: 1.5rem;
    margin-bottom: 5rem;
}
.Work_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 3rem;
}
.Work_container .work-box{
    flex: 1 1 30rem;
    background:var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.Work_container .work-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.work-box i{
    font-size: 5rem;
    color: var(--main-color);
}
.work-box h3{
    font-size: 1.6rem;
}
.work-box p{
    font-size: 1.1rem;
    margin: 1rem 0 3rem;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    /* font-size: 1.5rem; */
    color: var(--second-bg-color);
    font-weight: 500;
    transition: .5s ease;
}

.btn:hover{
    box-shadow:none ;
}
