.mainbody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.heading h1{
    /* text-align: center; */
    color: var(--main-color);
    padding-top: 2.5rem;
}
.heading{
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
/* .description{
    text-align: center;
    padding-top: 2rem;
} */

.icon i{
    /* padding-top: 25px; */
    font-weight: 900;
    font-size: 3rem;
    color: var(--main-color);
    padding-left: 5rem;
    padding-top: 1rem;
    /* padding-bottom: 5rem; */
}
.btn{
    /* display: inline-block; */
    /* padding: 1rem 2.8rem; */
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--second-bg-color);
    font-weight: 500;
    transition: .5s ease;
}

.btn:hover{
    box-shadow:none ;
}

.input{
    width:40vw;
    padding-top: 2rem 2rem;
    height: 3rem;
    border-radius: 1rem;
    padding: 1rem 1rem;
    font-size: 1rem
}
.content{
    /* padding-top: rem; */
    padding-left: 2rem;
    display: flex;
    /* align-content: center; */
    justify-content: center;
    gap: 1rem;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    padding-top: 1.3rem;
    gap: 3rem;
}


.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.dbtn{
    /* display: inline-block; */
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--second-bg-color);
    font-weight: 500;
    transition: .5s ease;
}

.dbtn:hover{
    box-shadow:none ;
}